body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 25px 35px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    max-width: 380px;
}

.container h2 {
    margin-bottom: 10px;
    color: #2B7A78;
}

.container p {
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color: #0c2d48;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: #0c2d48;
}
