* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f3f4f7;
    color: #1a1a1a;
}

.hero {
    background: url('/Authentication/fondorideuni.jpg') center/cover no-repeat;
    padding: 120px 40px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 17px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-primary, .btn-secondary {
    padding: 14px 28px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-primary {
    background: #1a73e8;
    color: white;
}

.btn-secondary {
    background: #fff;
    color: #1a73e8;
}

.beneficios {
    padding: 70px 40px;
    text-align: center;
}

.beneficios h2 {
    font-size: 26px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 30px;
    width: 280px;
    border-radius: 16px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.08);
}

.card .icon {
    font-size: 34px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
}


.testimonios {
    padding: 60px 20px;
    text-align: center;
}

.test-card {
    background: #e7f2ff;
    padding: 40px;
    border-radius: 14px;
    max-width: 600px;
    margin: auto;
}

.quote {
    font-size: 18px;
    margin-bottom: 10px;
}

.user {
    color: #555;
    margin-bottom: 20px;
}

.small-btn {
    padding: 12px 25px;
}


.footer {
    background: #0c2d48;
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo {
    font-size: 22px;
    font-weight: bold;
}

.footer-links a {
    color: #dce6f2;
    margin-right: 20px;
    text-decoration: none;
    font-size: 14px;
}
