* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.navbar {
    width: 100%;
    background-color: #07345c;
    padding: 12px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative; 
}


.logo {
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #b6d6ff;
}


.navbar-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn {
    padding: 8px 20px;
    border-radius: 20px;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.25s;
}

.register {
    border-color: #4ab8ff;
    color: #4ab8ff;
}

.register:hover {
    background: #4ab8ff;
    color: #07345c;
}

@media (max-width: 900px) {
    .nav-links {
        display: none; 
    }
}
