* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f3f5f8;
    color: #1a1a1a;
}

.perfil-header {
    width: 90%;
    max-width: 1200px;
    background: white;
    margin: 40px auto;
    padding: 35px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.profile-left {
    display: flex;
    gap: 25px;
}

/* FOTO DE PERFIL */
.foto-perfil {
    width: 120px;
    height: 120px;
    border: 4px solid #1a73e8;
    border-radius: 50%;
    background: #eef4ff;
    overflow: hidden;
}
.foto-perfil img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.info h2 {
    font-size: 28px;
}

.stars {
    color: #ffb703;
    font-size: 20px;
    margin: 5px 0;
}

.rol {
    font-size: 16px;
    color: #555;
}

.ubicacion {
    font-size: 14px;
    color: #777;
    margin-top: 3px;
}

profile-right {
    display: flex;
    align-items: center;
}

.btn-mensaje {
    background: #1a73e8;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: .3s;
}

.btn-mensaje:hover {
    background: #0f59c7;
}

.card {
    width: 90%;
    max-width: 1200px;
    background: white;
    margin: 25px auto;
    padding: 28px;
    border-radius: 18px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.09);
}

.card h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.actividad-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 12px;
}

.item {
    background: #f8f9fc;
    padding: 14px;
    border-radius: 12px;
    font-size: 16px;
}

.reviews {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 5px;
}

.review {
    background: #f8f9fc;
    padding: 18px;
    border-radius: 12px;
    font-size: 15px;
    min-width: 280px;
    max-width: 350px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

.review strong {
    color: #1a73e8;
}

.footer {
    text-align: center;
    margin-top: 40px;
    padding: 30px;
    background: #0b234a;
    color: white;
}

.footer-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer-links a {
    color: #d0d6e2;
    text-decoration: none;
    transition: .3s;
}

.footer-links a:hover {
    color: white;
}
