body {
    background: #eef2f7;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
}

.rideuni-container {
    padding: 20px 40px;
}

.top-info {
    background: white;
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #0f2b45;
}

.edit-btn {
    margin-left: auto;
    background: #0062ff;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: .2s;
    font-weight: 600;
}
.edit-btn:hover {
    background: #0045b6;
}

.main-content {
    display: flex;
    gap: 20px;
}


.left-panel {
    flex: 1.4;
    background: #092238;
    border-radius: 12px;
    padding: 10px;
    height: 430px;
}

.map-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.right-panel {
    flex: 1;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.09);
    min-height: 430px;
}


.search-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hour,
.price {
    color: #003f99;
    font-size: 22px;
    font-weight: bold;
}


.card {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 7px rgba(0,0,0,0.08);
    margin-bottom: 12px;
    align-items: center;
    transition: .2s;
    border-left: 5px solid #0062ff;
}

.card:hover {
    transform: scale(1.03);
}

.info h4 {
    font-size: 17px;
    margin-bottom: 4px;
    color: #0f2b45;
}

.info p {
    font-size: 13px;
    color: #4a4a4a;
    margin: 2px 0;
}

.details-btn {
    background: #0062ff;
    color: white;
    border: none;
    padding: 9px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    transition: .2s;
}
.details-btn:hover {
    background: #0045b6;
}


.footer {
    text-align: center;
    padding: 30px 10px;
    background: #08254e;
    color: white;
    font-size: 14px;
    margin-top: 60px;
    border-top: 5px solid #08254e;
}

.map-frame {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 12px;
}