.chat-container {
    display: flex;
    width: 100%;
    height: 90vh;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 14px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
}

.chat-list {
    width: 30%;
    background: #fff;
    border-right: 1px solid #e3e3e3;
    padding: 15px;
    overflow-y: auto;
}

.search {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    background: #fafafa;
}

.chat-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 5px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
}

.chat-item:hover {
    background: #f5f5f5;
}

.chat-item.active {
    background: #efefef;
}

.chat-item img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.chat-item h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}

.chat-item p {
    font-size: 12px;
    color: #8e8e8e;
}

.dot {
    width: 8px;
    height: 8px;
    background: #0095F6;
    border-radius: 50%;
    margin-left: auto;
}

.chat-window {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 15px 20px;
    border-bottom: 1px solid #e3e3e3;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.msg {
    max-width: 65%;
    padding: 12px 16px;
    border-radius: 22px;
    font-size: 14px;
    line-height: 1.4;
}

.incoming {
    background: #f1f1f1;
    color: #000;
    align-self: flex-start;
}

.outgoing {
    background: #0095F6;
    color: #fff;
    align-self: flex-end;
}

.input-area {
    padding: 12px 15px;
    border-top: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-area input {
    flex: 1;
    padding: 12px 15px;
    border-radius: 22px;
    border: 1px solid #dbdbdb;
    background: #fafafa;
    outline: none;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: #262626;
}
