.ride-details-container {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    background: #f4f6f9;
    font-family: "Segoe UI", sans-serif;
}

.ride-card {
    width: 650px;
    background: white;
    border-radius: 18px;
    padding: 35px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border: 2px solid #e7ecf1;
}

.driver-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.driver-photo {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007bff;
}

.driver-text h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    color: #0a2b50;
}

.rating {
    color: #ff9800;
    font-weight: bold;
    font-size: 17px;
}


.ride-info {
    font-size: 16px;
    color: #444;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    margin: 15px 0;
}

.ride-info p {
    margin: 6px 0;
}

.price {
    margin-top: 10px;
    font-size: 20px;
    color: #007bff;
    font-weight: 700;
}


.btn-reservar {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #007bff;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-reservar:hover {
    background: #005bb8;
}
