<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RideUni - Inicio</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  
    <div id="navbar"></div>
    <script src="/js/navbar.js"></script>
    <link rel="stylesheet" href="/css/navbar.css">

    <section class="hero">
        <h1>Viaje seguros con compañeros universitarios</h1>
        <p>La plataforma de viajes compartidos universitarios más segura y eficiente de tu región.</p>

        <div class="hero-buttons">
            <button id="btnBuscar" class="btn-primary">Buscar un viaje ahora</button>
            <button id="btnOfrecer" class="btn-secondary">Ofrecer un raite</button>
        </div>
    </section>

    <section class="beneficios">
        <h2>¿Por qué elegir RideUni?</h2>

        <div class="cards">
            <div class="card">
                <div class="icon">💲</div>
                <h3>Ahorro Garantizado</h3>
                <p>Divide los gastos de combustible y reduce el costo de tu traslado diario.</p>
            </div>

            <div class="card">
                <div class="icon">🛡️</div>
                <h3>Seguridad Verificada</h3>
                <p>Perfiles revisados y sistema de confianza para una comunidad segura.</p>
            </div>

            <div class="card">
                <div class="icon">🌍</div>
                <h3>Sostenibilidad</h3>
                <p>Reduce tu huella de carbono al compartir vehículo con otros.</p>
            </div>
        </div>
    </section>


    <section class="testimonios">
        <h2>Lo que dicen nuestros usuarios</h2>

        <div class="test-card">
            <p class="quote">
                "Encontré un viaje seguro justo a tiempo para mi examen. ¡RideUni me salvó el cuatrimestre!"
            </p>
            <p class="user">Maria Mora, Estudiante de Ingeniería Industrial</p>

            <button id="btnPublicar" class="btn-primary small-btn">Publica tu primer raite</button>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-logo">RIDEUNI</div>

        <div class="footer-links">
            <a href="contact.html">Contacto</a>
            <a href="#">Redes Sociales</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Política de Privacidad</a>
        </div>
    </footer>
     <script src="/js/home.js"></script>
</body>
</html>
